@charset "UTF-8";
#titleDiv {
	position: relative;
	top: 20px;
	font-size: 50px;
}

#sleepDiv {
	position: relative;
	width: 500px;
	height: 180px;
	margin-top: 60px; //
	background-color: red;
}

#sleepTab, #exerTab, #drinkTab, #fastTab {
	width: 300px;
}

.td1 {
	width: 200px;
}

.td2 {
	width: 100px;
}

#exerDiv {
	position: relative;
	width: 500px;
	height: 160px;
	margin-top: 10px; //
	background-color: orange;
}

#drinkDiv {
	position: relative;
	width: 500px;
	height: 110px;
	margin-top: 10px; //
	background-color: yellow;
}

#fastDiv {
	position: relative;
	width: 500px;
	height: 110px;
	margin-top: 10px; //
	background-color: green;
}

#b1 {
	width: 200px;
	height: 70px;
	background-color: #4DB6AC;
	color: #E0F2F1;
	font-size: 30px;
}

#btnDiv {
	margin-top: 80px;
}